.row {
  border: 2px solid hsl(0, 62%, 57%);
  box-shadow: -5px 5px 5px hsla(0, 100%, 11%, 0.441);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonThingy {
  border: 2px solid hsl(0, 62%, 57%);
  box-shadow: -5px 5px 5px hsla(0, 100%, 11%, 0.441);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.buttonThingy>button {
  margin: 1vw;
  padding: 8px;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 10px;
}

.buttonThingy>button:hover{
  box-shadow: -5px 5px 5px hsla(243, 100%, 30%, 0.441);;

}